/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-width: 98vw;
  max-width: 100vw;
  height: auto;
  overflow-y: hidden !important;
}

/* Estilos generales */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.dark-mode {
  background-color: #212121;
  color: #d4d4d4;
}

body.dark-mode header {
  background-color: #001a57;
  color: #e0e0e0;
}

body.dark-mode footer {
  background-color: #001a57;
  color: #e0e0e0;
}

header {
  background-color: #001a57;
  color: white;
  font-family: "Merriweather", serif;
  min-height: 10vh;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 2vw;
  font-weight: bold;
}

.text-primary {
  font-weight: bold;
  font-size: 2.5rem;
  color: #0d6efd;
}

main {
  display: flex;
  flex-grow: 1;
  font-family: "Crimson Pro", serif;
  flex-direction: column;
  overflow-y: auto;
}

main p {
  font-weight: bold;
  font-size: 1.1rem;
}

footer {
  background-color: #001a57;
  color: white;
  font-family: "Merriweather", serif;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.intro {
  animation-delay: 0s;
}

/* Estilos de la barra de navegación */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bolder;
}

.nav-item {
  font-size: 1rem;
}

.nav-item,
.navbar-toggler,
.navbar-brand {
  transition: all 0.3s ease-in-out;
}

.nav-item:hover,
.navbar-toggler:hover,
.navbar-brand:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

/* Estilos para el switch de tema */
.theme-switch {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 50px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #0d6efd;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Iconos de la luna y el sol */
#themeIcon {
  font-size: 1.5rem;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

body.dark-mode #themeIcon {
  transform: rotate(360deg);
}

/* Estilos de la página principal */
main.container {
  animation: slideUp 1.5s ease-out;
}

.images img {
  width: 100%;
  max-width: 300px;
  margin-block: 20px;
  margin-inline: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: popIn 1.5s ease-out;
}

.images img,
.images .intro-box {
  transition: all 0.3s ease-in-out;
}

.images img:hover,
.images .intro-box:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
}

.images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
}

.intro-box {
  max-width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: popIn 1.5s ease-out;
  margin-block: 20px;
  margin-inline: 10px;
  font-family: "Crimson Pro", serif;
  font-size: 1.1rem;
  background-color: rgb(241, 241, 241);
}

body.dark-mode .intro-box {
  background-color: #171717;
  border: 1px solid rgb(5, 5, 5);
  color: #d4d4d4;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

body.dark-mode .images img {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.intro-box h2 {
  color: #0d6efd;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 2rem;
}

/* Estilos de la página de biografía */
iframe {
  width: 100%;
  height: 650px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Estilos de la galería */
.swiper-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

.swiper-slide img,
.swiper-slide iframe {
  max-width: 90%;
  max-height: 60vh;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.swiper-slide img:hover,
.swiper-slide iframe:hover {
  transform: scale(1.05);
}

.swiper-slide img,
.swiper-slide iframe {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

body.dark-mode .swiper-slide img,
body.dark-mode .swiper-slide iframe {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.swiper-pagination {
  position: relative !important;
  margin-top: 1rem;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

/* Estilos de la página de logros */
.logros {
  padding-bottom: 50px;
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgb(241, 241, 241);
  transition: all 0.3s ease-in-out;
  border: 1px solid #ccc;
  margin-block: 10px;
  font-family: "Crimson Pro", serif;
}

.card:hover {
  transform: scale(1.05);
}

body.dark-mode .card {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  background-color: #171717;
  color: #d4d4d4;
  border: 1px solid rgb(5, 5, 5);
}

.text-secondary {
  color: #001a57 !important;
  font-weight: bolder;
}

body.dark-mode .text-secondary {
  color: #0d6efd !important;
  font-weight: bolder;
}

.card-img-top {
  height: 300px;
  object-fit: cover;
}

.card-title {
  color: #001a57;
  font-weight: bold;
  font-size: 1.5rem;
}

body.dark-mode .card-title {
  color: #0d6efd;
}

.card-text {
  font-size: 1.1rem;
}

/* Estilos de la página de contacto */
.form-label {
  font-weight: bold;
}

.form-label::after {
  content: " *";
  color: red;
  font-weight: normal;
}

.form-control:invalid {
  border: 2px solid #f44336;
}

.form-control:valid {
  border: 2px solid #4caf50;
}

input:focus,
textarea:focus {
  border: 1px solid #001a57;
  outline: none;
}

.btn-primary {
  background-color: #001a57;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover,
body.dark-mode .btn-primary:hover {
  background-color: #0d6efd;
  transition: all 0.3s ease-in-out;
}

body.dark-mode input,
body.dark-mode textarea {
  background-color: #333333;
  color: #e0e0e0;
  border: 1px solid #555555;
}

body.dark-mode input:focus,
body.dark-mode textarea:focus {
  background-color: #333333;
  color: #e0e0e0;
  border: 1px solid #0d6efd;
  outline: none;
}

body.dark-mode .btn-primary {
  background-color: #001a57;
  font-weight: bold;
  color: #e0e0e0;
  border: 1px solid #001636;
}

/* Estilos de las frases */
#quoteSection {
  background-color: rgb(241, 241, 241);
  color: #343a40;
  font-style: italic;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

body.dark-mode #quoteSection {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  background-color: #171717;
  color: #d4d4d4;
  border: 1px solid rgb(5, 5, 5);
}

blockquote {
  font-size: 1.5rem;
  line-height: 1.8;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Merriweather", serif;
}

.blockquote-footer {
  color: white;
}

body.dark-mode .blockquote-footer {
  color: #d4d4d4;
}

/* Estilos del juego */
#quizSection {
  border: 1px solid #ccc;
  margin-top: 50px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(241, 241, 241);
}

body.dark-mode #quizSection {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  background-color: #171717;
  color: #d4d4d4;
  border: 1px solid rgb(5, 5, 5);
}

#question {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
  font-family: "Merriweather", serif;
}

#answers button {
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-width: 2px;
  border-radius: 8px;
  padding: 8px 10px;
  font-weight: bold;
  transition: transform 0.2s ease-in-out;
}

#answers button.correct {
  background-color: #28a745 !important;
  color: white;
  border-color: #218838;
}

#answers button.incorrect {
  background-color: #dc3545 !important;
  color: white;
  border-color: #bd2130;
}

#answers button:hover {
  transform: scale(1.05);
}

#answers button:active {
  transform: scale(0.98);
}

#answers button.correct {
  background-color: #28a745 !important;
  color: white;
}

#answers button.incorrect {
  background-color: #dc3545 !important;
  color: white;
}

/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap");

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes popIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

body {
  transition: background-color 0.5s ease, color 0.5s ease; /* Transición suave de fondo y color de texto */
}

/* Añadir transición a las tarjetas */
.intro-box {
  transition: background-color 0.5s ease, color 0.5s ease; /* Transición suave para tarjetas */
}

/* Transición para enlaces */
.nav-link.text-white {
  transition: color 0.5s ease; /* Transición suave para color de enlaces */
}

/* Añadir transición para el header y footer */
header,
footer {
  transition: background-color 0.5s ease; /* Transición suave para el fondo */
}

input,
textarea,
button {
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}
